body {
background: white url(https://media.tenor.com/VDKHAvnCCPEAAAAC/eyes.gif);
}

h1 {
background:red;
text-align: center;
}

.paragraph-1
 {
background:blue;
font-size: 32pt;
color:red
}

.paragraph-2
 {
border: 10px solid pink;
border-radius:20px;
font-size: 22pt;
margin-bottom: 60px;
padding-left: 10px;
padding-top: 5px;
padding-bottom 5px;
color: yellow;
}

.paragraph-3
 {
font-weight: bold;
font-size:18px;
font-family: Courier New;
color: yellow;
}
.paragraph-4
 {
font-style: oblique;
text-align: center;
font-size: 24px;
<<<<<<< HEAD
text-shadow: 2px 1px red;
color: green;
}
ol{
background:green;
}
=======
text-shadow: 2px 1px green;
}
>>>>>>> 7e241bf1f36881caad26da725a46682466a49112
